body{
  max-width:100vw;
  max-height:100vh;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  background-color:#E3E8F8;
}

.sidebar{
  width: 350px;
}

.brand-name,.page-head,small,.header h2{
  color:#203562;
}

.item{
  background-color: #203562;
  border-radius: 15px;
  text-decoration: none;
}

 .page-head small{
  font-size: 16px;
 }
.note{
  background-color: #F5F5F5;
  border-radius: 15px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-height: 300px;
  width: 400px;
}

.note-body{
  font-size: 16px;
}

.footer{
  font-size: 16px;
  color:#203562;
}
.notes-editor{
  background-color: #F5F5F5;
  border-radius: 15px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.notes-editor h2{
  color:#203562;
  font-size: 32px;
}
.title,.note-area{
  border:none;
  background-color: #F5F5F5;
}

.header{
  display: flex;
  justify-content: space-between;
}

.notes-list{
  display: grid;
  grid-gap:150px;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.note-footer{
  display: flex;
  justify-content: space-between;
}